@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "src/colors";

.wrapper {
	position: relative;
	background: linear-gradient(#202122, #3737a7);
}

.content {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	align-items: center;
	padding: 130px 0;
	gap: 6em;
	padding-inline: 15px;

	& * {
		color: #fff;
		z-index: 2;
	}
}

.rightSection {
	h2 {
		font-size: 36px;
		font-weight: 700;
		font-family: "Montserrat";
		margin-bottom: 20px;

		&::before {
			content: "// ";
			color: #ed2164;
		}
	}

	p {
		margin-bottom: 30px;
		font-size: 22px;

		span {
			font-weight: 700;
		}
	}

	a {
		background: $pink;
		border: 0;
		font-size: 16px;
		padding: 12px 18px;
		font-weight: 700;
		display: inline-block;
		border-radius: 3px;

		&:focus {
			background: $pink;
		}
	}
}

.world {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.08;
	top: 0;
	z-index: 0;
	left: 0;
	object-fit: cover;
}

@media (max-width: 992px) {
	.leftSection {
		display: none;
	}
}

@media (max-width: 768px) {
	.rightSection {
		h2 {
			text-align: center;
		}

		p {
			font-size: 18px;
			text-align: center;
		}

		div {
			display: grid;
			place-items: center;
		}
	}
}
