@import "src/colors";
.content {
	max-width: 1200px;
	margin-inline: auto;
	padding-inline: 15px;
	padding: 50px;
}
.content {
	text-align: center;

	h3 {
		margin-bottom: 30px;
		margin-top: 0;
		font-size: 28px;
		font-weight: 300;
		opacity: 0.2;
	}

	ul {
		list-style: none;
		margin-bottom: 24px;
		display: flex;
		justify-content: center;
		font-size: 18px;
		flex-wrap: wrap;

		li {
			padding: 0 7px;
		}
	}

	p {
		opacity: 0.5;
		line-height: 1.7;
		margin-bottom: 30px;
	}

	i {
		color: $lightGray;

		&:hover {
			color: $darkGray;
		}
	}
}
